<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Portfolio - Mike Clancy</title>
	<link rel="stylesheet" href="/stylesheets/app.css">
	</head>
	<body>
        <%- include("navbar") %>
        <div class="container-fluid">
            <div class="row">
                <!-- Page content -->
                <main role="main" class="col-md-9 ml-sm-auto px-0 col-lg-10 border-left-0">
            